*
{

    margin: 0;
    padding: 0;

}

body{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
.container {
    width: 400px auto;
    height: 400px;
    margin: 190px auto;
    position: relative;
}
.container h1{

    margin: 0;
    padding: 0;
    font-family: courier;
    font-size: 70pt;
    text-transform: none;
    text-align: left;
    color:#ffde73;;
}
p {
    margin: 0;
    padding: 0;
    font-family: courier;
    font-size: 20pt;
    text-transform: none;
    text-align: left;
    color:#000000;
}
header{
    background-color: white;
    width: auto;
    height: 25px;
    
}
#row{
    position: relative;
    width: auto;
    z-index: 1
}
.main-nav ul {
    text-align: center;
}
.main-nav{
    list-style: none;

    padding: 0;
}

.main-nav li {
    float: auto;
    text-align: center;
}

.main-nav li a
{
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 210px;
    font-family: "Courier New", sans-serif;
    font-size: 40pt;
    margin: auto;
    padding-left: 10px;
}
.main-nav a:hover 
{
    background-color: #ffde73;;
    color: black;
}
@media screen and (max-width: 900px) {
    ul.main-nav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.main-nav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
