*
{

    margin: 0;
    padding: 0;

}

header{
    background-image: url(kani.jpg);
    opacity: 1.0;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
}

.main-nav li a
{
    color: wheat;
    text-decoration: none;
    padding: 5px 200px 5px 5px;
    font-family: "Courier New", sans-serif;
    font-size: 50pt;
    margin-top: 50px;
    text-align: center;
}
.main-nav a:hover 
{
    border: 1px solid yellow;
}

body{
    
    font-family: courier;
}

.row 
{
    max-width: 1200px;
    margin: auto;
}
